
#  _   _  _____     _______ _   _  ____    ____ ___  _   _ _____ ___ ____ 
# | \ | |/ _ \ \   / / ____| \ | |/ ___|  / ___/ _ \| \ | |  ___|_ _/ ___|
# |  \| | | | \ \ / /|  _| |  \| | |  _  | |  | | | |  \| | |_   | | |  _ 
# | |\  | |_| |\ V / | |___| |\  | |_| | | |__| |_| | |\  |  _|  | | |_| |
# |_| \_|\___/  \_/  |_____|_| \_|\____|  \____\___/|_| \_|_|   |___\____|
                                                                         


# CONFIG FOR BUILDING GAME

# APP INFO
APP_NAME=NovEng
APP_VERSION=0.4


DEFAULT_LANG=ru

# BUILD
TARGET_NAME=game.exe

# APP DIR
DIR_RES=res
DIR_SCENARIO=scenario
DIR_MUSIC=music
DIR_SFX=sfx
DIR_SAVE=save


DUSE_CUSTOM_ABOUT=false

# DECRYPT
DECRYPT=true
ASSET_KEY=keyok